body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Blog post content uses Arial */
#postViewContent,
#postViewContent p,
#postViewContent li,
#postViewContent h1,
#postViewContent h2,
#postViewContent h3 {
  font-family: Arial, sans-serif;
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.hidden {
  display: none !important;
}
